body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: black;
}

.welcome-message {
    font-size: 20px;
}

.navbar-icons {
    display: flex;
    gap: 15px;
}

.navbar-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navbar-icons a:hover {
    color: #ddd;
}

