.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    /* Red background */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
}